
    <link rel="stylesheet" type="text/css"href="Login.css">
  <div id="massege" class="login-form">
    <form action="/login" method="POST">
    <h1 >Login</h1>
    <input type="text" id="usrname" name="username" placeholder="username" class="form-control" >
    <input type="password" id="pass" name="password" placeholder="password" class="form-control">
    <input type="submit" value="Login" onclick="login()" class="login-btn" />
     Don't have account?<a href="/signup" id="ram"><b>SignUp</b></a> 
    </form>
</div>
<script src="validations.js"></script>